$navbar-default-color: #FFFFFF;
$navbar-default-link-color: #FFFFFF;
$navbar-border-radius: 0;
$navbar-default-bg: #CF3725;

$navbar-default-toggle-icon-bar-bg: #FFFFFF;
$navbar-default-toggle-hover-bg: #333333;

$navbar-inverse-toggle-icon-bar-bg: #333333;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.logRow {
  padding: 3px;
}

.toggle-btn {
  margin: 5px 2px;
}

.toggle-btn.success {
  background: $btn-success-bg;
  border:solid 1px $btn-success-border !important;
  color: $btn-success-color;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

#provisionerScript {
  margin-top: 5px;
}

#fodorJson {
  margin-top: 5px;
}

div.commented-code {
  font-family: "Courier New", monospace;
  white-space: pre;
}