$navbar-default-color: #FFFFFF;
$navbar-default-link-color: #FFFFFF;
$navbar-border-radius: 0;
$navbar-default-bg: #CF3725;

$navbar-default-toggle-icon-bar-bg: #FFFFFF;
$navbar-default-toggle-hover-bg: #333333;

$navbar-inverse-toggle-icon-bar-bg: #333333;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";